{% include top.html %}
<div class="row">
    <div class="span12">
        <div class="row">
            <div class="span12">
                <h2 class="section-header">欢迎!</h2>
                <p>
                    <a href="http://jslint.com">JSLint</a> 以及其流行的另一分支, <a href="http://jshint.com/">JSHint</a>, 好像对于他们会「hurt your feelings」感到自豪。 好吧，这没有任何问题，但是如果了解一下为什么会这哥俩会「hurt feelings」，这应该是一个不错的主意。
                </p>
                <p>
                    JSLint Error Explanations 的目的是通过理解一些由JSLint和JSHint产生的「神秘」问题来帮助我们提高JavaScript水平，当然，还有如何预防此类错误。
                </p>
                <p>
                    这个站点仍然在不断更新中，因此并不是所有的JSLint或者JSHint的错误消息都在此列出。代码托管于<a href="https://github.com/SFantasy/jslint-error-explanations-zh">GitHub</a>，这里是英文原版的<a href="https://github.com/jamesallardice/jslint-error-explanations">托管地址</a> 如果你想要帮助我翻译、改善这个站点，可以发送<a href="mailto:me@fantasyshao.com">邮件</a>给我或者在<a href="https://github.com/SFantasy/jslint-error-explanations-zh/issues">GitHub</a>上提出issues或者pull request。
                </p>
            </div>
        </div>
        <hr class="dark">
        <div class="row">
            <div class="span12">
                {{content}}
            </div>
        </div>
    </div>
</div>
{% include bottom.html %}